/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [titleId]
      ,[ordering]
      ,[title]
      ,[region]
      ,[language]
      ,[types]
      ,[attributes]
      ,[isOriginalTitle]
  FROM [MovieCorn].[imdb].[Region]