{% extends "layout.html" %}

{% block content %}

<main> 
<nav class='navbar bg-dark navbar-dark navbar-expand-sm'>
<div class='container'>    
    <a class='navbar-brand' href='/'>
			<img src="{{ url_for('static', filename='pop-corn.png') }}" style='width: 80px;' alt="MOVIE-CORN">
			MOVIE-CORN <!--FAVICON-->
	</a>
    <div class='navbar-nav'>
      <a class="nav-item nav-link active" href="{{ url_for('index') }}">Zpět na hlavní stránku</a>
   
    </div>
</div> <!-- END CONTAINER NAVBAR-->
</nav> <!--END NAVBAR -->

<!--výsledky hledání-->
<div class="jumbotron jumbotron-fluid">
	<div class='container'>
			<!-- box MEDIA pro detail filmu-->
									<div class="media">
										<!--do src přidat pak odkaz z API NA POSTER -->
										{% if hasPoster %}										
										<img class="media-left" width="200px" align="middle" hspace="20" alt="Image" src="{{ poster }}">
										{% else %}
										<img src="{{ url_for('static', filename='no-image.png') }}" style='width: 250px;' alt="MOVIE-CORN">
										{% endif %}
										<div class="media-body">
											<div class="ml-3 mb-5">
											 <h4 class="card-title" > {{movie}}
													<button type="button" class="btn btn-dark" class="float-md-lef">+ WATCH LIST</button>	
												</h4>	
												<div class="container">
													<div class="row">
														<div class="col-md-4">
																<p class:"m-0"><small>Rok: {{ startYear }}</small></p>
																<p class:"m-0"><small>Herci: {{ actors }} </small></p>

														</div>  <!-- konec levý COL-4-->
														<div class="col-md-4">
															<p class:"m-0"><small>Rating: {{ stars }}</small></p>
															<p class:"m-0"><small>Země původu: {{ country }}</small></p>
															<p class:"m-0"><small>Délka (min.):  {{ runMin }}</small></p>
														</div>  <!-- konec prostřední COL-4-->
														<div class="col-md-4">
															<div class="text-left">
																<p class:"m-0"><small>Režisér: {{ director }} </small></p>																
																<p class:"m-0"><small>Žánr:  {{ genre }}</small></p>
																<p class:"m-0"><small>Typ:  {{ tType }}</small></p>
															</div>
														</div> <!-- konec pravý COL-4-->														
													</div>  <!-- konec ROW v containeru-->
												</div>	 <!-- konec container - vrchní část - detail filmu-->
												</div><!-- konec class="ml-3 mb-5-->

														<div class="container">
															<div class="row">
																<div class="col-md-12">
																		<p class:"m-0"><b>O FILMU:</b> 
																		<br>
																	{{ detail }}</p>
															<!--anotaci vzít z api - plot -->
												
														</div>  <!--KONEC COLUMN -12-->
													</div>  <!--KONEC ROW V KONTAINERU NA TEXTY-->
												</div> <!--KONEC KONTAINER NA TEXTY-->
											</div> <!-- KONEC BODY-->
									</div> <!-- KONEC MEDIA -->
<br>
<br>
										<div class='container'>
											<div class="row">
													<div class="col-md-6">
														<div class="shadow p-4 mb-4 bg-white">
															<h5>Kde můžeš film vidět?</h5>
															<p> <a href="https://uloz.to/hledej?q={{movie}}+{{startYear}}&type=videos" target="_blank">ULOŽTO</a></p>
															<p> <a href="https://www.netflix.com/search?q={{movie}}" target="_blank">NETFLIX</a></p>
															<p><a href="https://hbogo.cz/search/{{movie}}" target="_blank">HBOGO</a></p>
														</div>
													</div>
												
												<div class="col-md-6">
														<div class="shadow p-4 mb-4 bg-white">
													<h5>Titulky ke stažení?</h5>
														<p><a href="https://www.titulky.com/?Fulltext={{movie}}" target="_blank">titulky.com</a></p>
														<p><a href="https://www.opensubtitles.org/cs/search2/sublanguageid-cze,slo/moviename-{{movie}}" target="_blank">opensubtitles.org</a></p>
														<p>...</p>
														</div>
												</div>
											</div>
										</div>
	</div> <!--KONEC kontainer pro popis filmu-->
</div>  <!--KONEC jumbotron pro popis filmu-->


<!-- footer-->
<nav class='navbar bg-default navbar-default navbar-fixed-bottom'>           
 <div class='container'>    
    <a class='navbar-brand' href='#'>
      <img src="{{ url_for('static', filename='czechitas.png') }}" style='width: 150px;' alt="Czechitas">
    </a> <!-- edn navbar footer-->
 
    <div class="col-md-6">
		<p class='mb-0' style='color:#353A41'><b>&copy Andrea Doušová a Michaela Kalná. 2018. <br>V rámci projektu DA Czechitas <a href="https://www.czechitas.cz/cs/">www.czechitas.cz</a></b></p>
		</div>	<!--pravý column 6 footer -->

 </div> <!-- end container footer-->
</nav> <!-- end footer-->

</main>

{% endblock %}