<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!--favicon-->
  <link rel="shortcut icon" href="images/pop-corn.ico" type="image/x-icon">
  <!--boostrap--> 
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <!--scripty jquery--> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <!--java-script--> 
  <script src="js/bootstrap.js"></script>
  
  <title>MOVIE-CORN</title>
</head> 

  
<body>                         
<div class='container'>                                                                    
    <div class='row'>                
        <div class='col-md-6'>PROJEKT DIGITÁLNÍ AKADEMIE PRAHA - podzim 2018
        </div>                   
        <div class='col-md-6'>                      
            <p style='text-align: right'>                        
              <button type='button'><a href="moje_zona.html">MOJE ZÓNA</a></button> 
            </p>                              
        </div>                                           
    </div>            
        <div>                             
            <div class='jumbotron'>                
            <h2 class='text-md-center'>MOVIE-CORN</h2>                
            <!--<img src="pop-corn.png" class="img-responsive" width="10%" >   -->                                    
            </div>
            <div class='row'>                    
                <div class='col-md-6'>                       
                    <div class='well well-lg' style='text-align: center'>                    
                        <p><b>Nechce se překvapit - vyber žánr a dostaneš 5 filmů pro Tebe</b>
                        </p>                        
                        <div class="dropdown">                          
                            <button class="btn btn-danger btn-lg dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">ZKUSÍM ŠTĚSTÍ                           
                                <span class="caret">
                                </span>
                            </button>                          
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">                            
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">KRIMI</a>
                                </li>                            
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">KOMEDIE</a>
                                </li>                            
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">ROMANTIKA</a>
                                </li>                            
                                <li role="presentation" class="divider">
                                </li>                            
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#">VŠECHNY ŽÁNRY</a>
                                </li>                          
                            </ul>                        
                        </div>                    
                    </div>                
                </div>                        
                <div class='col-md-6'> 
                    <div class='well well-lg' style='text-align: center'>                    
                        <p><b>Můžeš si zúžit výběr podle řady parametrů:</b>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          rok <span class="caret"></span></button>
                          <ul class="dropdown-menu" role="menu">
                            <li>1950-2000</li>
                            <li>2001-současnost</li> <!--dopracovat pak nabídku-->
                          </ul>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          žánr <span class="caret"></span></button>
                          <ul class="dropdown-menu" role="menu">
                            <li>komedie</li>
                            <li><a href="#">krimi</a></li> <!--dopracovat pak nabídku-->
                          </ul>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          délka <span class="caret"></span></button>
                          <ul class="dropdown-menu" role="menu">
                            <li>1950-2000/li>
                            <li>2001-současnost</li> <!--dopracovat pak nabídku-->
                          </ul>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          typ <span class="caret"></span></button>
                          <ul class="dropdown-menu" role="menu">
                            <li>film</li>
                            <li>seriál</li> <!--dopracovat pak nabídku-->
                          </ul>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          rating <span class="caret"></span></button>
                          <ul class="dropdown-menu" role="menu">
                            <li>rozmezí1</li>
                            <li>rozmezí2</li> <!--dopracovat pak nabídku-->
                          </ul>
                    </div>
                    <div class='well well-lg' style='text-align: center'>
                        <button class='btn btn-danger btn-lg'>HLEDAT</button>                     
                        <br><br>                  
                    </div>                     
                    <br>
                    
                <!-- Footer -->

                 <section class="footer" style="text-align: center">
                    <div class='row'>                
                        <div class='col-md-12'><small>&copy Andrea Doušová a Michaela Kalná. 2008. V rámci projektu DA Czechitas <a href="www.czechitas.cz">www.czechitas.cz</a></small>
                        </div>                   
                        <div class='col-md-6'>                      
                            <p style='text-align: right'></p>                              
                        </div>                                           
                    </div>     
                  </section>  
    </div> <!--konec row--> 
    </div>            
</div>   <!-- end container-->
</body>
</html>