<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!--favicon-->
  <link rel="shortcut icon" href="images/pop-corn.ico" type="image/x-icon">
  <!--boostrap--> 
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <!--scripty jquery--> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <!--java-script--> 
  <script src="js/bootstrap.js"></script>
  
  <title>MOVIE-CORN</title>
</head>

                                    
<body>                         
<div class='container'>                                                                    
    <div class='row'>                
        <div class='col-md-6'>PROJEKT DIGITÁLNÍ AKADEMIE PRAHA - podzim 2018
        </div>                   
        <div class='col-md-6'>                      
            <p style='text-align: right'>                        
             <button type='button'><a href="index.html">ZPĚT NA HLAVNÍ STRÁNKU</a></button>                        
            </p>                              
        </div>                                           
    </div>            
        <div>                             
            <div class='jumbotron'>                
            <h2 class='text-md-center'>MOJE ZÓNA</h2>                
            <!--<img src="pop-corn.png" class="img-responsive" width="10%" >   -->                                    
            </div>
            <div class='row'>                    
                <div class='col-md-6'>
                <p style="display: ">MOJE FILMOTÉKA</p>
                </div> 

                <div class='col-md-6'>
                <p style="display: ">HISTORIE HLEDÁNÍ</p>
                </div>             
            </div> <!--konec row-->  
    </div>  <!--konec jumbtron-->                 
</div>   <!-- end container-->
</body>
</html>